/*
  File containing SCSS mixins.
  For more info check https://sass-lang.com/guide#topic-6

  A mixin lets you make groups of CSS declarations that you want to reuse throughout your site.
  You can even pass in values to make your mixin more flexible.
*/
@import "node_modules/bootstrap/scss/mixins";