<h1>This page has been lazy-loaded</h1>
<p>If you check the Network tab in your console you will be able to see that 'sample-feature-module.js' has been downloaded.</p>
<p>By creating an app split in different feature modules you will reduce the intial loading time of your application.</p>
<p>Like everyone if the website you're trying to access takes too much time to load you'll simply go somewhere else and close the page.</p>
<p>
    Another advantage of enabling lazy loading for your modules is to reduce the data needed for your application. Sometimes the issue will be the network speed but it can also be the data plan of your users.
</p>
<p>
    In conclusion, creating feature modules enables you to take advantage of the lazy-loading but also force you to think about the folder architecture of your application, resulting in more "newcomers-friendly" source code.
</p>