<header>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
        <a class="navbar-brand" routerLink="">Angular-Seed</a>
        <!-- <a class="navbar-brand" routerLink="">
            <img src="../../../../assets/img/logo.png" alt="Your app logo here" height="30px">
        </a> -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="lazyloading">Lazy loaded page</a>
              </li>
        </ul>
        <ul class="navbar-nav profile">
            <li class="nav-item text-right">
                <div ngbDropdown placement="bottom-right">
                    <span id="profileDropDown" ngbDropdownToggle>
                        <fa-icon icon="user-circle" size="lg"></fa-icon> &nbsp;
                        <span class="hidden-xs">{{ username }}</span>
                    </span>
                    <div id="profile-popup" ngbDropdownMenu aria-labelledby="profileDropDown">
                        <div class="text-center">
                            {{ username }}
                        </div>
                        <div>
                            <div class="float-right">
                                <button type="button" class="btn btn-light" (click)="logOut()">Log out</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
      </nav>
</header>
